<!DOCTYPE html>
<html>
 {% include 'header' %}
 <body>
  {% include 'menu' %}
  {% include 'nav' %}
  {% include 'heading' %}
  <div class="content">
   {{ page.content }}
  </div>
  {% include 'breaker' %}
  {% include 'scripts' %}
  </body>
</html>